@font-face {
     font-family: 'Satoshi-Variable';
     font-weight: 300 900;
     font-style: normal;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Variable.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Variable.woff') format('woff'),
          url('../assets/fonts/Satoshi-Variable.ttf') format('truetype');
}

@font-face {
     font-family: 'Satoshi-Variable';
     font-weight: 300 900;
     font-style: normal;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Variable.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Variable.woff') format('woff'),
          url('../assets/fonts/Satoshi-Variable.ttf') format('truetype');
}

/**
  * This is a variable font
  * You can controll variable axes as shown below:
  * font-variation-settings: 'wght' 900.0;
  *
  * available axes:
  
  * 'wght' (range from 300.0 to 900.0)
  
  */

@font-face {
     font-family: 'Satoshi-VariableItalic';
     font-weight: 300 900;
     font-style: italic;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
          url('../assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-Light';
     font-weight: 300;
     font-style: normal;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Light.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Light.woff') format('woff'),
          url('../assets/fonts/Satoshi-Light.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-LightItalic';
     font-weight: 300;
     font-style: italic;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-LightItalic.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-LightItalic.woff') format('woff'),
          url('../assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-Regular';
     font-weight: 400;
     font-style: normal;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Regular.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Regular.woff') format('woff'),
          url('../assets/fonts/Satoshi-Regular.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-Italic';
     font-weight: 400;
     font-style: italic;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Italic.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Italic.woff') format('woff'),
          url('../assets/fonts/Satoshi-Italic.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-Medium';
     font-weight: 500;
     font-style: normal;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Medium.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Medium.woff') format('woff'),
          url('../assets/fonts/Satoshi-Medium.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-MediumItalic';
     font-weight: 500;
     font-style: italic;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
          url('../assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-Bold';
     font-weight: 700;
     font-style: normal;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Bold.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Bold.woff') format('woff'),
          url('../assets/fonts/Satoshi-Bold.ttf') format('truetype');

}


@font-face {
     font-family: 'Satoshi-BoldItalic';
     font-weight: 700;
     font-style: italic;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
          url('../assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-Black';
     font-weight: 900;
     font-style: normal;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-Black.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-Black.woff') format('woff'),
          url('../assets/fonts/Satoshi-Black.ttf') format('truetype');
}


@font-face {
     font-family: 'Satoshi-BlackItalic';
     font-weight: 900;
     font-style: italic;
     font-display: swap;
     src: url('../assets/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
          url('../assets/fonts/Satoshi-BlackItalic.woff') format('woff'),
          url('../assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
}